@model BookStore_CNN.ViewModels.OrderModels
@{
    Layout = null;
}

<!-- Các trường nhập liệu và form đặt hàng -->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đặt hàng</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/TemplateCuss/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/TemplateCuss/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/TemplateCuss/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/TemplateCuss/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/TemplateCuss/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/TemplateCuss/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/TemplateCuss/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/TemplateCuss/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="~/"><img src="~/TemplateCuss/img/Logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            @await Component.InvokeAsync("Cart")
        </div>
        @await Html.PartialAsync("_HeaderMobile")
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="~/">Trang chủ</a></li>
                <li class="active"><a href="~/Home/Shop">Cửa hàng</a></li>
                <li><a href="~/Home/About">Giới thiệu</a></li>
                <li><a href="~/Home/Contact">Liên hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> carat@colorlib.com</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        @await Html.PartialAsync("_Header")
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="~/"><img src="~/TemplateCuss/img/Logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="~/">Trang chủ</a></li>
                            <li class="active"><a href="~/Home/Shop">Cửa hàng</a></li>
                            <li><a href="~/Home/About">Giới thiệu</a></li>
                            <li><a href="~/Home/Contact">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        @await Component.InvokeAsync("Cart")
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Danh mục sách</span>
                        </div>
                        <ul>
                            @await Component.InvokeAsync("CategoriesMenu")
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-controller="Products" asp-action="Search">
                                <input type="text" name="keyword" placeholder="Nhập tên sách">
                                <button type="submit" class="site-btn">TÌM KIẾM</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0809900900</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/TemplateCuss/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>ĐẶT HÀNG</h2>
                        <div class="breadcrumb__option">
                            <a href="~/">Trang chủ</a>
                            <span>Đặt hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    @if (!string.IsNullOrEmpty(TempData["ErrorOrder"] as string))
    {
        <div class="alert alert-danger">@TempData["ErrorOrder"]</div>
    }
    @using BookStore_CNN.Models
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="checkout__form">
                <h4>Thông Tin Chi Tiết</h4>
                <form asp-controller="Cart" asp-action="PlaceOrder" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="@Model.customer.Fullname" class="control-label"></label>
                                <input asp-for="@Model.customer.Fullname" class="form-control" name="name"/>
                                <span asp-validation-for="@Model.customer.Fullname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.customer.Address" class="control-label"></label>
                                <input asp-for="@Model.customer.Address" class="form-control" name="address"/>
                                <span asp-validation-for="@Model.customer.Address" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.customer.Phone" class="control-label"></label>
                                        <input asp-for="@Model.customer.Phone" class="form-control" name="phone"/>
                                        <span asp-validation-for="@Model.customer.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.customer.Email" class="control-label"></label>
                                        <input asp-for="@Model.customer.Email" class="form-control" name="email"/>
                                        <span asp-validation-for="@Model.customer.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <div class="form-group">
                                    <label class="control-label">Ghi chú (nếu có)</label>
                                    <input type="text" name="description"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="checkout__order">
                                <h4>Đơn Hàng</h4>
                                <div class="checkout__order__products">Sản phẩm <span>Thành tiền</span></div>
                                @foreach (var item in Model.cart)
                                {
                                    <ul>
                                        <li>@item.tenSach <span>@String.Format("{0:0,0}", item.dThanhtien)đ</span></li>
                                    </ul>
                                }
                                <div class="checkout__order__subtotal">Thành tiền <span>@ViewBag.TotalPrv đ</span></div>
                                <div class="checkout__order__total">Giảm giá <span>@ViewBag.Discount đ</span></div>
                                <div class="checkout__order__total">Tổng tiền <span>@ViewBag.Total đ</span></div>
                                <button type="submit" class="site-btn" asp-controller="Cart" asp-action="OrderConfirmation">HOÀN TẤT ĐẶT HÀNG</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
    <!-- Footer Section Begin -->
    @await Html.PartialAsync("_FrontEndFooter")
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/TemplateCuss/js/jquery-3.3.1.min.js"></script>
    <script src="~/TemplateCuss/js/bootstrap.min.js"></script>
    <script src="~/TemplateCuss/js/jquery.nice-select.min.js"></script>
    <script src="~/TemplateCuss/js/jquery-ui.min.js"></script>
    <script src="~/TemplateCuss/js/jquery.slicknav.js"></script>
    <script src="~/TemplateCuss/js/mixitup.min.js"></script>
    <script src="~/TemplateCuss/js/owl.carousel.min.js"></script>
    <script src="~/TemplateCuss/js/main.js"></script>



</body>

</html>